*, body{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.page{
	background: rgba(27, 100, 152, 0.1);
}

a{
	text-decoration: none;
	color: #fff;

	transition: border-bottom 600ms;
	-webkit-transition: border-bottom 600ms;
}

a:hover{
	border-bottom: 1px solid rgb(27,100,152);
}

.zdepth{
	-webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.Xcenter{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.Vcenter{
	position: relative;
	top:50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.XYcenter{
	position: relative;
	left: 50%;
	top:50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.pageNavigation{
	position:absolute;
	background: rgb(27,100,152);
	opacity: 0.8;
	height: 100px;
	width: 100%;
	bottom: -100px;
	z-index:100;

	transition: all 500ms ease-in;

	.logo{
		position: relative;
		left: 10%;
		width: 30%;
		font-size: 1.5em;
		font-weight: 400;
		letter-spacing: 0.1em;
		float: left;
	}

	.mainNavigation{
		width: 60%;
		float: right;
		text-align: right;
	}

	.mainNavItem{
		cursor: pointer;
		position: relative;
		color: #fff;
		display: inline-block;
		font-size: 1.5em;
		margin-right: 5%;
		border-bottom: 1px solid rgb(27,100,152);;

		transition: border-bottom 600ms;
		-webkit-transition: border-bottom 600ms;
	}
	.mainNavItem:hover{
		border-bottom: 1px solid #fff;
	}
}

.naviStatic{
	position: fixed;
	top: 0;
}

.pageNavigation:hover{
	opacity: 1;
}

.pageStart{
	width: 100%;
	height: 100vh;
	background: #2996E4;
}

.post{
	position: relative;
	text-align: center;
	margin-top: 40px;
	max-width: 1920px;
	min-height: 500px;
	overflow:hidden;

	&:first-child{
		margin-top: 100px;
	}

	&:last-child{
		padding-bottom: 60px;
	}
}
