*, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100; }

.page {
  background: rgba(27, 100, 152, 0.1); }

a {
  text-decoration: none;
  color: #fff;
  transition: border-bottom 600ms;
  -webkit-transition: border-bottom 600ms; }

a:hover {
  border-bottom: 1px solid #1b6498; }

.zdepth {
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.Xcenter {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%); }

.Vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }

.XYcenter {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

.post {
  max-width: 1400px; }

.pageNavigation {
  position: absolute;
  background: #1b6498;
  opacity: 0.8;
  height: 100px;
  width: 100%;
  bottom: -100px;
  z-index: 100;
  transition: all 500ms ease-in; }
  .pageNavigation .logo {
    position: relative;
    left: 10%;
    width: 30%;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.1em;
    float: left; }
  .pageNavigation .mainNavigation {
    width: 60%;
    float: right;
    text-align: right; }
  .pageNavigation .mainNavItem {
    cursor: pointer;
    position: relative;
    color: #fff;
    display: inline-block;
    font-size: 1.5em;
    margin-right: 5%;
    border-bottom: 1px solid #1b6498;
    transition: border-bottom 600ms;
    -webkit-transition: border-bottom 600ms; }
  .pageNavigation .mainNavItem:hover {
    border-bottom: 1px solid #fff; }

.naviStatic {
  position: fixed;
  top: 0; }

.pageNavigation:hover {
  opacity: 1; }

.pageStart {
  width: 100%;
  height: 100vh;
  background: #2996E4; }

.pageContent .post {
  position: relative;
  text-align: center;
  margin-top: 40px; }
  .pageContent .post:first-child {
    margin-top: 100px; }

#laptop {
  position: relative;
  width: 720px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }
  #laptop .top-body {
    position: relative;
    background-color: #000;
    width: 570px;
    height: 324px;
    margin-bottom: -8px;
    top: 0;
    border-radius: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px #cccbc7 solid;
    transition: transform 400ms;
    -webkit-transition: -webkit-transform 400ms; }
    #laptop .top-body .screen {
      position: relative;
      width: 92%;
      height: 86%;
      border-radius: 2px;
      background: #fff;
      text-align: center;
      font-size: 3em; }
      #laptop .top-body .screen img {
        width: 80px; }
      #laptop .top-body .screen .button {
        cursor: pointer;
        background: none;
        border-radius: 4px;
        font-size: 2rem;
        color: #1b6498;
        border: 1px solid #1b6498;
        padding: 1rem 4rem;
        transition: all 200ms ease-in; }
        #laptop .top-body .screen .button:hover {
          transform: scale(1.1); }
  #laptop .bottom-body {
    position: relative;
    background-color: #cccbc7;
    width: 624px;
    height: 26px;
    border-radius: 2px;
    transition: transform 500ms;
    -webkit-transition: -webkit-transform 500ms; }
  #laptop #openslot {
    background-color: darkgrey;
    width: 20%;
    border-radius: 0 0 16px 16px; }

h3 {
  font-size: 3.2em;
  padding: 1.2em 0 .2em 0; }

p {
  position: relative;
  max-width: 620px;
  font-size: 1em;
  line-height: 1.6rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  padding: 1em 0 1em 0; }

.contactForm {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  color: #1b6498;
  border: 1px solid white;
  width: 40%;
  max-width: 500px;
  min-width: 100px;
  height: 8vh;
  font-size: 3vw;
  background: rgba(27, 100, 152, 0.2); }

.contactForm.ta {
  height: 24vh;
  resize: vertical;
  font-size: 1.4vw; }

.contactForm.button {
  border: none;
  color: #1b6498; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(27, 100, 152, 0.4); }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(27, 100, 152, 0.4);
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(27, 100, 152, 0.4);
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(27, 100, 152, 0.4); }

.contactForm:focus {
  box-shadow: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #1b6498; }

.switch {
  width: 600px;
  height: 36px;
  margin-top: 40px;
  background: rgba(27, 100, 152, 0.2); }
  .switch .switchItem {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 193px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px 0 5px 0;
    transition: all 400ms;
    cursor: pointer; }
    .switch .switchItem.selected {
      background: #1b6498; }
    .switch .switchItem:hover {
      background: rgba(27, 100, 152, 0.2); }

.diagram {
  position: relative;
  width: 60%; }
  .diagram .diagramItem {
    padding: 1% 0 1% 0; }
    .diagram .diagramItem ._title {
      position: relative;
      width: 20%;
      float: left;
      font-size: 2vw;
      text-align: right;
      right: 1%; }
    .diagram .diagramItem ._bar {
      position: relative;
      height: 3vw;
      left: 20%;
      width: 80%;
      background: rgba(27, 100, 152, 0.2); }
    .diagram .diagramItem #val1, .diagram .diagramItem #val2, .diagram .diagramItem #val3, .diagram .diagramItem #val4 {
      position: absolute;
      width: 0;
      opacity: 0;
      height: 100%;
      background: #1b6498;
      transition: width 1800ms, opacity 1800ms; }
  .diagram:hover #val1 {
    width: 95%;
    opacity: 1; }
  .diagram:hover #val2 {
    width: 70%;
    opacity: 1; }
  .diagram:hover #val3 {
    width: 50%;
    opacity: 1; }
  .diagram:hover #val4 {
    width: 55%;
    opacity: 1; }

.projectViewer {
  position: relative;
  height: 200px;
  width: 100vw;
  transition: height 400ms; }
  .projectViewer.expand {
    height: 60vh; }
  .projectViewer .projectInfo {
    position: relative;
    height: 67%;
    width: 98.4%;
    display: none;
    top: 1.4%;
    background: rgba(35, 35, 35, 0.2); }
    .projectViewer .projectInfo.showInfo {
      display: block; }
    .projectViewer .projectInfo .closer {
      position: absolute;
      bottom: 10px;
      right: 20px;
      font-size: 3rem;
      color: #fff;
      cursor: pointer; }
  .projectViewer ul {
    position: relative;
    width: 100%;
    height: 180px;
    text-align: center;
    overflow: hidden; }
  .projectViewer li {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 16%;
    height: 100%;
    margin: .1%; }
    .projectViewer li .projectItem {
      transition: all 400ms; }
      .projectViewer li .projectItem img {
        width: 100%;
        height: 100%; }

#me .posShift {
  position: relative;
  margin-top: 1rem;
  transform: translateX(-100%);
  transition: transform 400ms; }
  #me .posShift.shiftIn {
    transform: translateX(0%); }
#me .postLeft {
  width: 50%;
  height: 400px;
  float: left;
  color: #fff;
  background: #1b6498; }
  #me .postLeft p {
    text-align: right; }
#me .postRight {
  width: 50%;
  text-align: left;
  float: left; }
  #me .postRight img {
    height: 400px;
    opacity: 0.5; }
    #me .postRight img:hover {
      opacity: 1; }
#me .clearfix {
  clear: both; }
